@for $i from 1 through 12 {
  .col-#{$i} {
    width: calc(((86 / 1296 * $i) + (24 / 1296) * ($i - 1)) * 100%);
  }
}

@for $i from 1 through 4 {
  .col-#{$i}-mb {
    @media screen and (max-width: 428px) {
      width: calc(((48 / 332 * $i) + (20 / 332) * ($i - 1)) * 100%);
    }
  }
}

.container {
  margin: 0 auto;
  max-width: 1296px;
}

@media screen and (max-width: 428px) {
  .container {
    width: 332px;
  }
}

.row {
  display: flex;
  width: 100%;
}

$gutter: 24px;
$gutter-mb: 20px;
