$container-width: 1296px;
$container-width-mb: 332px;
$gutter: 24px;
$gutter-mb: 20px;
$total-columns: 12;

@for $i from 1 through 12 {
  $total-gutter: $gutter * ($total-columns - 1);
  $gutter-width: $gutter * $i;

  .col-#{$i} {
    width: calc((100%-#{$total-gutter}) / 12 * $i + $gutter-width);
  }
}

@for $i from 1 through 4 {
  $total-gutter: $gutter-mb * ($total-columns - 1);
  $gutter-width: $gutter-mb * $i;

  .col-#{$i}-mb {
    @media screen and (max-width: 428px) {
      width: calc((100%-#{$total-gutter}) / 12 * $i + $gutter-width);
    }
  }
}

.container {
  margin: 0 auto;
  max-width: $container-width;
}

@media screen and (max-width: 428px) {
  .container {
    width: $container-width-mb;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
}
