// 火箭隊配色
$primary-1-100: #E5EBFF;
$primary-1-200: #BFC9F0;
$primary-1-300: #A6B6F1;
$primary-1-400: #7F94E2;
$accent-1: #FFEEA3;

// 共同空間配色
$primary-2-100: #F5F1FF;
$primary-2-200: #EEE5FF;
$primary-2-300: #CAB2F1;
$primary-2-400: #B28FEA;
$accent-2: #FFD887;

// 灰階
$grey-100: #F8F9FD; 
$grey-200: #F0F0F0; 
$grey-300: #E0E0E0; 
$grey-400: #CDCDCD; 
$grey-500: #9A9A9A; 
$grey-600: #757575; 
$grey-700: #363636; 