/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&family=Noto+Sans+TC:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.col-1 {
  width: 6.6358024691%;
}

.col-2 {
  width: 15.1234567901%;
}

.col-3 {
  width: 23.6111111111%;
}

.col-4 {
  width: 32.0987654321%;
}

.col-5 {
  width: 40.5864197531%;
}

.col-6 {
  width: 49.0740740741%;
}

.col-7 {
  width: 57.5617283951%;
}

.col-8 {
  width: 66.049382716%;
}

.col-9 {
  width: 74.537037037%;
}

.col-10 {
  width: 83.024691358%;
}

.col-11 {
  width: 91.512345679%;
}

.col-12 {
  width: 100%;
}

@media screen and (max-width: 428px) {
  .col-1-mb {
    width: 14.4578313253%;
  }
}

@media screen and (max-width: 428px) {
  .col-2-mb {
    width: 34.9397590361%;
  }
}

@media screen and (max-width: 428px) {
  .col-3-mb {
    width: 55.421686747%;
  }
}

@media screen and (max-width: 428px) {
  .col-4-mb {
    width: 75.9036144578%;
  }
}

.container {
  margin: 0 auto;
  max-width: 1296px;
}

@media screen and (max-width: 428px) {
  .container {
    width: 332px;
  }
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  position: relative;
  color: #363636;
  font-family: "Josefin Sans", "Noto Sans TC", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

a {
  color: #363636;
}
a:visited {
  color: #363636;
}

img {
  max-width: 100%;
  height: auto;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}
ol li {
  margin-left: 1.5em;
  text-indent: -1em;
}

h1 {
  font-size: 48px;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  font-weight: 700;
}

h3 {
  font-size: 32px;
  font-weight: 700;
}

h4 {
  font-size: 28px;
  font-weight: 700;
}

@media screen and (max-width: 428px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
}
.text-highlight {
  box-shadow: inset 0 -14px #ffeea3;
}

.bold {
  font-weight: 700;
}

.bd-ex {
  border-radius: 50px;
}

.bd-xl {
  border-radius: 40px;
}

.bd-lg {
  border-radius: 24px;
}

.bd-md {
  border-radius: 16px;
}

.bd-sm {
  border-radius: 12px;
}

nav {
  position: fixed;
  top: 0;
  z-index: 99;
  padding: 20px 0;
  max-width: 100%;
  background: white;
  white-space: nowrap;
  overflow: hidden;
}
nav ul {
  display: flex;
}
nav span {
  margin: 0 1rem;
}

.banner {
  background: url("../images/banner-bg.png");
}

.btn-wrapper {
  position: relative;
  margin-top: 190px;
  margin-bottom: 160px;
  width: calc(26.5432098765% + 24px);
  text-align: center;
  line-height: 1.75;
}
.btn-wrapper:hover {
  transform: translateY(-16px);
}

.btn {
  position: relative;
  width: 100%;
  background: white;
  border: 2px solid #e0e0e0;
  text-align: center;
  cursor: pointer;
}
.btn .btn-highlight {
  display: none;
  position: absolute;
  top: -48px;
  right: -32px;
}
.btn .btn-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -32px;
}
.btn .btn-subtitle {
  margin-bottom: 24px;
  color: #9a9a9a;
  font-size: 24px;
}
.btn .btn-logo {
  margin-bottom: 16px;
  padding: 12px;
  border: 3px solid #cdcdcd;
  border-radius: 50%;
}
.btn .btn-logo img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.btn p {
  margin-bottom: 24px;
  font-size: 1.25rem;
}
.btn .btn-toggle {
  margin-bottom: -50px;
}

.semi-circle {
  z-index: -99;
  margin: 0 auto;
  width: 120px;
  height: 60px;
  border-radius: 0 0 120px 120px;
}

.btn-rocket .semi-circle {
  background-color: #bfc9f0;
}

.btn-space .semi-circle {
  background-color: #eee5ff;
}

.btn-splitter {
  text-align: center;
  font-size: 72px;
}

.page {
  display: none;
}

.about {
  background-image: url("../images/banner-bg.png");
}

.about-wrapper {
  padding: 60px 0;
}
.about-wrapper .row {
  justify-content: space-between;
  align-items: flex-start;
}

.about-rocket {
  background-color: #e5ebff;
}

.about-content .about-subtitle {
  font-size: 1.25rem;
}
.about-content .about-title {
  margin-bottom: 40px;
  font-size: 48px;
}
.about-content p {
  font-size: 1.25rem;
}

.jobs {
  height: 592px;
  overflow: hidden;
}
.jobs li:nth-last-child(1) {
  margin: 0px;
}

.card-job {
  display: flex;
  justify-content: space-between;
  padding: 36px;
  margin-bottom: 32px;
  background-color: white;
}
.card-job .card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-job .card-info h3 {
  margin-bottom: 12px;
}
.card-job .card-info span {
  color: #9a9a9a;
  font-size: 1.5rem;
}
.card-job .card-info ul {
  display: flex;
}
.card-job .card-info ul li {
  padding: 8px 16px;
  margin-right: 12px;
  color: #7f94e2;
  border: 2px solid #7f94e2;
  border-radius: 24px;
}
.card-job .job-image {
  display: flex;
  align-items: center;
  padding: 24px 0;
  width: 170px;
  height: 100%;
  background: #f0f0f0;
}
.card-job .job-image img {
  margin-left: -56px;
}

.example {
  margin-top: 92px;
  margin-bottom: 120px;
}
.example .row {
  flex-direction: column;
}
.example ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.example ul li {
  margin-top: 28px;
}

.bootcamp {
  background-color: #f8f9fd;
}
.bootcamp .row {
  flex-direction: column;
}
.bootcamp h2 {
  margin-top: -24px;
  margin-bottom: 12px;
}

.bootcamp-time {
  display: flex;
  padding: 12px 20px;
  height: 58px;
  background: white;
  box-shadow: 0px 2px 4px #e8e8e8;
  font-weight: 500;
  line-height: 2.5rem;
}
.bootcamp-time .stick {
  margin: 0 11px;
  width: 2px;
  height: 100%;
  background-color: #f0f0f0;
}

.card-bootcamp-jobs {
  padding: 0 48px 40px 48px;
  margin-top: 80px;
  background-color: white;
  background-image: url("../images/training-bg.png");
  border: 2px solid #f0f0f0;
}
.card-bootcamp-jobs .job-title {
  margin-top: -30px;
  margin-bottom: 32px;
  margin-left: -8px;
}
.card-bootcamp-jobs .job-title span {
  display: inline-block;
  padding: 0 40px;
  height: 60px;
  background-color: white;
  border: 2px solid #363636;
  box-shadow: 4px 4px 0 0 #363636;
  font-size: 24px;
  line-height: 60px;
}
.card-bootcamp-jobs .job-content {
  display: flex;
  align-items: center;
}
.card-bootcamp-jobs .job-info .info-title {
  display: inline-block;
  margin-bottom: 16px;
  font-size: 1.25rem;
  border-bottom: 3px solid #363636;
}
.card-bootcamp-jobs .job-info .info-item {
  margin-bottom: 36px;
}
.card-bootcamp-jobs .job-info .info-item:nth-last-child(1) {
  margin-bottom: 0;
}

.bootcamp-jobs {
  margin-bottom: 64px;
}
.bootcamp-jobs img {
  margin-left: 48px;
}
.bootcamp-jobs .card-bootcamp-jobs:nth-child(2) img {
  margin-left: 0;
  margin-right: 60px;
}

.bootcamp-coaches {
  margin-top: 64px;
}
.bootcamp-coaches h2 {
  margin-bottom: 18px;
}

.bootcamp-coach-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}
.bootcamp-coach-list li {
  display: flex;
  align-items: flex-end;
  height: 180px;
  cursor: pointer;
}
.bootcamp-coach-list li div {
  display: flex;
  align-items: flex-end;
  height: 160px;
  background-color: white;
  border: 2px solid #363636;
}
.bootcamp-coach-list li:nth-child(1) div {
  background-color: #e5ebff;
}
.bootcamp-coach-list .coach-name {
  align-self: flex-start;
  padding: 16px 0;
  margin-top: -24px;
  margin-right: 20px;
  width: 48px;
  background-color: white;
  border: 2px solid #363636;
  border-radius: 12px;
  box-shadow: 4px 4px 0 0 #363636;
  line-height: 48px;
  letter-spacing: 0.5rem;
  writing-mode: vertical-rl;
}

.coach-exp span {
  font-size: 24px;
}
.coach-exp ul {
  margin-top: 12px;
  margin-left: 1.5em;
  margin-bottom: 80px;
  list-style-type: disc;
}
.coach-exp ul li {
  line-height: 1.75;
}

.btn-regist {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -48px;
  height: 96px;
  background-color: #e5ebff;
  border: 2px solid #363636;
  font-size: 36px;
  text-align: center;
  cursor: pointer;
}
.btn-regist img {
  display: none;
  margin-left: 20px;
}
.btn-regist:hover img {
  display: inline-block;
}

.qna .row {
  flex-direction: column;
  align-items: center;
}
.qna ul:nth-child(1) {
  margin-top: 128px;
}
.qna ul:nth-child(2) {
  margin-top: 80px;
  margin-bottom: 128px;
}
.qna h2 {
  border-bottom: 2px solid #f0f0f0;
}
.qna li {
  display: flex;
  padding: 20px;
  border-width: 2px 0;
  border-bottom: 2px solid #f0f0f0;
}

.qna-number {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  background-color: #e5ebff;
  border: 2px solid #363636;
  font-size: 14px;
  text-align: center;
}

.qna-content {
  padding-top: 2px;
  margin-left: 32px;
}
.qna-content div {
  margin-bottom: 8px;
}

.sponsor-title {
  position: relative;
  bottom: -32px;
}

.sponsor {
  background-color: #f0f0f0;
  overflow-x: scroll;
}
@media screen and (min-width: 1441px) {
  .sponsor {
    overflow-x: auto;
  }
  .sponsor .container {
    display: flex;
    justify-content: center;
  }
  .sponsor ul {
    justify-content: center;
  }
}

.sponsor-list {
  display: flex;
  margin-top: 56px;
  margin-bottom: 40px;
}
.sponsor-list li {
  flex-shrink: 0;
  margin-right: 24px;
}
.sponsor-list li div:nth-last-child(1) {
  margin-top: 8px;
}
.sponsor-list li:nth-last-child(1) {
  margin-right: 0;
}
.sponsor-list .sponsor-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  height: 148px;
  background-color: white;
  border-radius: 12px;
}

footer {
  padding: 36px 0;
  text-align: center;
}/*# sourceMappingURL=main.css.map */