@import "reset";
@import "global";
@import "variables";
@import "grid";

* {
  color: $grey-700;
}

::-webkit-scrollbar {
  display: none;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
  li {
    margin-left: 1em;
    text-indent: -1em;
  }
}

.text-highlight {
  box-shadow: inset 0 -14px $accent-1;
}

nav {
  position: fixed;
  top: 0;
  z-index: 99;

  padding: 20px 0;
  max-width: 100%;

  background: white;
  white-space: nowrap;
  overflow: hidden;

  .news-ticker:nth-child(1) {
    font-size: 14px;
  }

  ul {
    display: flex;
  }
}

.marquee {
  margin: 0 1rem;
}

.banner {
  background: url("../images/banner-bg.png");

  line-height: 1.75;

  .row {
    justify-content: center;
    align-items: center;
  }
}

.btn-wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 160px;
  width: calc(86 / 1296 * 4 * 100% + $gutter);

  &:hover {
    transform: translateY(-16px);
  }
}

.btn {
  margin-top: 190px;
  width: 100%;

  background: white;

  text-align: center;

  border: 2px solid $grey-300;

  .btn-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: -44px;
  }
  .btn-subtitle {
    margin-bottom: 24px;

    color: $grey-500;
    font-size: 24px;
  }
  .btn-logo {
    margin-bottom: 16px;
    padding: 12px;

    border: 3px solid $grey-400;
    border-radius: 50%;

    img {
      display: block;

      width: 100px;
      height: 100px;

      border-radius: 50%;
    }
  }
  p {
    margin-bottom: 24px;
    font-size: 20px;
  }
  .btn-toggle {
    margin-bottom: -50px;
  }
}

.btn-splitter {
  text-align: center;
  font-size: 72px;
}

.semi-circle {
  z-index: -99;
  width: 120px;
  height: 60px;

  border-radius: 0 0 120px 120px;
}

.btn-rocket {
  .semi-circle {
    background-color: $primary-1-200;
  }
}

.btn-space {
  .semi-circle {
    background-color: $primary-2-200;
  }
}

.about-rocket {
  padding: 60px 0;

  background-color: $primary-1-100;

  line-height: 1.5;

  .row {
    justify-content: space-between;
  }
}

.about-rocket-content {
  span {
    font-size: 1.25rem;
  }
  h1 {
    margin-bottom: 40px;
  }
}

.card-job {
  display: flex;
  justify-content: space-between;

  padding: 36px;

  background-color: white;
}

.job-image {
  position: relative;

  display: flex;
  align-items: center;

  width: 170px;
  height: 208px;

  background: $grey-200;

  img {
    position: relative;
    left: -56px;
  }
}

.jobs {
  height: 592px;
  overflow: auto;

  & li:nth-last-child(1) {
    margin: 0px;
  }
}

.card-job {
  margin-bottom: 32px;

  h3 {
    margin-bottom: 12px;
  }
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  span {
    color: $grey-500;
    font-size: 1.5rem;
  }
}

.tags {
  display: flex;
  li {
    padding: 8px 16px;
    margin-right: 12px;

    color: $primary-1-400;

    border: 2px solid $primary-1-400;
    border-radius: 24px;
  }
}

.example {
  margin-top: 92px;
  margin-bottom: 120px;

  .row {
    flex-direction: column;
    align-items: center;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
      margin-top: 28px;
    }
  }
}

.bootcamp {
  background-color: $grey-100;

  .row {
    flex-direction: column;
    align-items: center;
  }

  h2 {
    margin-top: -28px;
    margin-bottom: 12px;
  }
}

.bootcamp-time {
  padding: 16px 20px;

  background: white;
  box-shadow: 0px 2px 4px #e8e8e8;

  text-align: left;

  .stick {
    margin: 0 11px;
    border-left: 2px solid $grey-200;
  }
}

.bootcamp-jobs {
  .card-bootcamp-jobs:nth-child(1) {
    img {
      margin-left: 48px;
      margin-right: 32px;
    }
  }
  .card-bootcamp-jobs:nth-child(2) {
    img {
      margin-left: -8px;
      margin-right: 60px;
    }
  }
  .card-bootcamp-jobs:nth-child(3) {
    img {
      margin-left: 35px;
      margin-right: 70px;
    }
  }
}

.card-bootcamp-jobs {
  padding: 0 48px;
  padding-bottom: 40px;
  margin-top: 80px;

  background-color: white;
  background-image: url("../images/training-bg.png");
  border: 2px solid $grey-200;

  .jobs-title {
    position: relative;
    top: -32px;

    span {
      display: inline-block;
      padding: 12px 40px;
      margin-left: -8px;

      background-color: white;
      border: 2px solid $grey-700;
      box-shadow: 4px 4px 0 0 $grey-700;

      font-size: 24px;
    }
  }

  .job-content {
    display: flex;
    align-items: center;
  }
}

.bootcamp-job-info {
  .info-title {
    display: inline-block;
    margin-bottom: 16px;

    font-size: 20px;
    border-bottom: 3px solid $grey-700;
  }

  p,
  ol {
    margin-bottom: 36px;
  }

  li:nth-last-child(1) {
    ol {
      margin-bottom: 0;
    }
  }
}

.bootcamp-coach {
  margin-top: 64px;

  h2 {
    margin-top: 0;
  }
}

.bootcamp-coach-list {
  display: flex;
  margin-top: 16px;

  li {
    display: flex;
    align-items: flex-end;
    height: 160px;

    background-color: $primary-1-100;
    border: 2px solid $grey-700;
  }

  .coach-name {
    display: inline-block;

    padding: 16px;

    background-color: white;
    border: 2px solid $grey-700;
    border-radius: 12px;

    letter-spacing: 1rem;
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
  }
}
