/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Noto+Sans+TC:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02rem;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 28px;
}

@media screen and (max-width: 428px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
}
.bd-xl {
  border-radius: 40px;
}

.bd-lg {
  border-radius: 24px;
}

.bd-md {
  border-radius: 16px;
}

.bd-sm {
  border-radius: 12px;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

.container {
  max-width: 1296px;
}

@media screen and (max-width: 428px) {
  .container {
    width: 332px;
  }
}
nav {
  position: fixed;
  top: 0;
  padding: 20px 0;
  max-width: 100%;
  background: white;
  white-space: nowrap;
  overflow: hidden;
}
nav .news-ticker:nth-child(1) {
  font-size: 14px;
}
nav ul {
  display: flex;
}

.noto {
  font-family: "Noto Sans TC", sans-serif;
}

.marquee {
  margin: 0 1rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
}

.banner {
  display: flex;
  justify-content: space-between;
  background: url("../images/banner-bg.png");
  line-height: 1.75;
}

.btn-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 160px;
}

.btn {
  margin-top: 190px;
  width: 440px;
  background: white;
  text-align: center;
  font-weight: 700;
  border: 2px solid #E0E0E0;
}
.btn .btn-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -44px;
}
.btn .btn-subtitle {
  margin-bottom: 24px;
  color: #9A9A9A;
  font-size: 24px;
}
.btn .btn-logo {
  margin-bottom: 16px;
  padding: 12px;
  border: 3px solid #CDCDCD;
  border-radius: 50%;
}
.btn .btn-logo img {
  display: block;
  border-radius: 50%;
}
.btn p {
  margin-bottom: 24px;
  font-size: 20px;
}
.btn .btn-toggle {
  margin-bottom: -50px;
}

.semi-circle {
  z-index: -99;
  width: 120px;
  height: 60px;
  background-color: #BFC9F0;
  border-radius: 0 0 120px 120px;
}

.about-rocket {
  height: 712px;
  background-color: #E5EBFF;
}/*# sourceMappingURL=main.css.map */