@import "reset";
@import "variables";
@import "grid";
@import "global";
@import "./helpers/utils";
@import "./helpers/animation";

nav {
  position: fixed;
  top: 0;
  z-index: 99;

  padding: 20px 0;
  width: 100%;
  height: 64px;

  background: white;
  white-space: nowrap;
  overflow: hidden;

  .marquee {
    display: flex;
    position: absolute;
    animation: slide 20s linear infinite;
  }
  ul {
    display: flex;
  }

  span {
    margin: 0 1rem;
  }
}

// banner
.banner {
  background: url("../images/banner-bg.png");
}

.btn-wrapper {
  position: relative;

  margin-top: 190px;
  margin-bottom: 160px;
  width: calc(86 / 1296 * 4 * 100% + $gutter);

  text-align: center;
  line-height: 1.75;
  transition: 0.3s;

  &:hover {
    transform: translateY(-16px);
  }
}

.btn {
  position: relative;

  width: 100%;

  background: white;
  border: 2px solid $grey-300;

  text-align: center;

  cursor: pointer;

  .btn-highlight {
    display: none;
    position: absolute;
    top: -48px;
    right: -32px;

    animation: popOut 0.3s ease;
  }

  .btn-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: -32px;
  }
  .btn-subtitle {
    margin-bottom: 24px;

    color: $grey-500;
    font-size: 24px;
  }
  .btn-logo {
    margin-bottom: 16px;
    padding: 12px;

    border: 3px solid $grey-400;
    border-radius: 50%;

    img {
      display: block;

      width: 100px;
      height: 100px;

      border-radius: 50%;
    }
  }
  p {
    margin-bottom: 24px;
    font-size: 1.25rem;
  }
  .btn-toggle {
    margin-bottom: -50px;
  }
}

.semi-circle {
  z-index: -99;

  margin: 0 auto;
  width: 120px;
  height: 60px;

  border-radius: 0 0 120px 120px;
}

.btn-rocket {
  .semi-circle {
    background-color: $primary-1-200;
  }
}

.btn-space {
  .semi-circle {
    background-color: $primary-2-200;
  }
}

.btn-splitter {
  text-align: center;
  font-size: 72px;
}

.page {
  display: none;
}

.page-space {
  display: block;
}

.about {
  background-image: url("../images/banner-bg.png");
}

.about-wrapper {
  padding: 60px 0;

  .row {
    justify-content: space-between;
    align-items: flex-start;
  }
}

.about-rocket {
  background-color: $primary-1-100;
}

.about-content {
  .about-subtitle {
    font-size: 1.25rem;
  }
  .about-title {
    margin-bottom: 40px;

    font-size: 48px;
  }
  p {
    font-size: 1.25rem;
  }
}

.jobs-wrapper {
  height: 592px;
  overflow: hidden;
}
.jobs {
  width: 100%;
  .card-job:nth-last-child(1) {
    margin-bottom: 0px;
  }
}

.card-job {
  display: flex;
  justify-content: space-between;

  padding: 36px;
  margin-bottom: 32px;

  background-color: white;

  .card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h3 {
      margin-bottom: 12px;
    }

    span {
      color: $grey-500;
      font-size: 1.5rem;
    }

    ul {
      display: flex;

      li {
        padding: 8px 16px;
        margin-right: 12px;

        color: $primary-1-400;

        border: 2px solid $primary-1-400;
        border-radius: 24px;
      }
    }
  }

  .job-image {
    display: flex;
    align-items: center;

    padding: 24px 0;
    width: 170px;
    height: 100%;

    background: $grey-200;

    img {
      margin-left: -56px;
    }
  }
}

.example {
  margin-top: 92px;
  margin-bottom: 120px;

  .row {
    flex-direction: column;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
      margin-top: 28px;
    }
  }
}

.bootcamp {
  background-color: $grey-100;

  .row {
    flex-direction: column;
  }

  h2 {
    margin-top: -0.75em;
    margin-bottom: 12px;
    line-height: normal;
  }
}

.bootcamp-time {
  display: flex;
  padding: 12px 20px;

  background: white;
  box-shadow: 0px 2px 4px #e8e8e8;

  font-weight: 500;
  line-height: normal;

  span {
    padding: 5px 0;
  }

  .time-recent {
    padding: 5px 12px 5px 0;
    margin-right: 12px;

    border-right: 2px solid $grey-200;
  }
}

.card-bootcamp-jobs {
  padding: 0 48px 40px 48px;
  margin-top: 80px;

  background-color: white;
  background-image: url("../images/training-bg.png");
  border: 2px solid $grey-200;

  .job-title {
    margin-top: calc(-1em - 12px);
    margin-bottom: 32px;
    margin-left: -8px;

    span {
      display: inline-block;

      padding: 12px 40px;

      background-color: white;
      border: 2px solid $grey-700;
      box-shadow: 4px 4px 0 0 $grey-700;

      font-size: 24px;
      line-height: normal;
    }
  }

  .job-content {
    display: flex;
    align-items: center;
  }

  .job-info {
    .info-title {
      display: inline-block;
      margin-bottom: 16px;

      font-size: 1.25rem;
      border-bottom: 3px solid $grey-700;
    }

    .info-item {
      margin-bottom: 36px;
    }
    .info-item:nth-last-child(1) {
      margin-bottom: 0;
    }
  }
}

.bootcamp-jobs {
  margin-bottom: 64px;

  img {
    margin-left: 48px;
  }

  .card-bootcamp-jobs:nth-child(2) {
    img {
      margin-left: 0;
      margin-right: 60px;
    }
  }
}

.bootcamp-coaches {
  margin-top: 64px;

  h2 {
    margin-bottom: 18px;
  }
}

.bootcamp-coach-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;

  li {
    display: flex;
    align-items: flex-end;

    height: 180px;

    cursor: pointer;

    div {
      display: flex;

      align-items: flex-end;

      height: 160px;

      background-color: white;
      border: 2px solid $grey-700;
    }

    &:hover {
      .coach-name {
        transform: translateY(-16px);
        transition: 0.3s;
      }
    }
  }

  li:nth-child(1) {
    div {
      background-color: $primary-1-100;
    }
  }

  .coach-name {
    align-self: flex-start;

    padding: 16px 0;
    margin-top: -24px;
    margin-right: 20px;
    width: 48px;

    background-color: white;
    border: 2px solid $grey-700;
    border-radius: 12px;
    box-shadow: 4px 4px 0 0 $grey-700;

    line-height: 48px;
    letter-spacing: 0.5em;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;

    transition: 0.3s;
  }
}

.coach-exp {
  .exp-content {
    height: 0px;
    opacity: 0;
    animation: tenkai 0.5s ease;
    animation-fill-mode: forwards;
  }

  span {
    font-size: 24px;
  }
  ul {
    margin-top: 12px;
    margin-left: 1.5em;
    margin-bottom: 80px;

    list-style-type: disc;

    li {
      line-height: 1.75;
    }
  }
}

.btn-regist {
  margin-bottom: -48px;

  background-color: $primary-1-100;
}

.btn-form {
  background-color: $primary-2-100;
}

.btn-lg {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 16px;

  border: 2px solid $grey-700;

  font-size: 36px;
  text-align: center;
  text-decoration: none;
  line-height: normal;

  cursor: pointer;

  span {
    position: relative;
    right: -20px;
    transition: all 0.3s ease;
  }

  img {
    margin-left: 20px;
    width: 0;
    height: 64px;

    opacity: 0;
    vertical-align: middle;

    transition: all 0.3s ease;
  }

  &:hover {
    span {
      transform: translate(-20px);
    }
    img {
      width: auto;
      opacity: 1;
    }
  }
}

.qna {
  .row {
    flex-direction: column;
    align-items: center;
  }

  ul:nth-child(1) {
    margin-top: 128px;
  }

  ul:nth-child(2) {
    margin-top: 80px;
    margin-bottom: 128px;
  }
  h2 {
    border-bottom: 2px solid $grey-200;
  }
  li {
    display: flex;

    padding: 20px;

    border-width: 2px 0;
    border-bottom: 2px solid $grey-200;
  }
}

.qna-number {
  flex-shrink: 0;

  width: 24px;
  height: 24px;

  background-color: $primary-1-100;
  border: 2px solid $grey-700;

  font-size: 14px;
  text-align: center;
}

.qna-content {
  padding-top: 2px;
  margin-left: 32px;

  div {
    margin-bottom: 8px;
  }
}

.sponsor-title {
  position: relative;
  bottom: -32px;
}

.sponsor {
  background-color: $grey-200;

  overflow-x: scroll;

  @media screen and (min-width: 1441px) {
    overflow-x: auto;

    .container {
      display: flex;
      justify-content: center;
    }

    ul {
      justify-content: center;
    }
  }
}

.sponsor-list {
  display: flex;

  margin-top: 56px;
  margin-bottom: 40px;

  li {
    flex-shrink: 0;
    margin-right: 24px;

    div:nth-last-child(1) {
      margin-top: 8px;
    }
  }

  li:nth-last-child(1) {
    margin-right: 0;

    &:hover {
      transition: 0.3s;
      transform: translateX(-100%);
    }
  }

  .sponsor-img {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 16px;
    height: 148px;

    background-color: white;
    border-radius: 12px;
  }
}

footer {
  padding: 36px 0;
  text-align: center;
}

.about-space {
  background-color: $primary-2-100;
}

.map {
  padding: 12px;
  height: 420px;

  background-color: white;

  iframe {
    width: 100%;
    height: 100%;
  }
}

.space-display {
  .row {
    flex-direction: column;
  }
  h2 {
    margin-top: 80px;
    margin-bottom: 60px;

    line-height: normal;
  }
  h4 {
    margin-bottom: 24px;

    line-height: normal;
  }
}

.space-display-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .space-photo {
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-bottom: 52px;
    }

    img {
      padding: 8px;
      width: calc(50% - $gutter);

      border: 2px solid $grey-400;
    }

    .photo-text {
      width: calc(50% - $gutter);

      div {
        margin-bottom: 20px;

        font-size: 1.5rem;
      }

      p {
        color: $grey-600;
      }
    }

    li:nth-of-type(2) {
      flex-direction: row-reverse;
    }
  }

  .space-service {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    li {
      margin-bottom: 48px;
      width: 340px;

      text-align: center;

      img {
        margin-bottom: 24px;
      }
      .icon-title {
        margin-bottom: 8px;

        font-size: 18px;
      }
      p {
        color: $grey-600;
        font-size: 14px;
      }
    }
  }
}

.carousel-wrapper {
  position: relative;

  overflow: hidden;
}

.carousel {
  display: flex;

  margin-bottom: 80px;

  li {
    flex-shrink: 0;

    margin-right: $gutter;
    max-width: calc(86px * 6 + $gutter * 5);
    width: calc(((86 + 24) * 6 - 24) / 1296 * 100%);
  }
}

.plan {
  position: relative;

  background-color: $primary-2-200;
}

.plan-wrapper {
  max-width: 100%;

  .plan-info {
    margin-top: 60px;
    margin-bottom: 36px;

    line-height: normal;

    h2 {
      margin-bottom: 8px;
    }
  }

  .plan-hint {
    display: inline-block;
    padding: 16px 16px 32px 16px;
    margin-bottom: 12px;
    margin-left: 80px;

    background-image: url("../images/promotion-lg.svg");
    background-repeat: no-repeat;

    text-align: center;
  }

  .plan-cards {
    display: flex;

    margin-bottom: 40px;

    .plan-card:nth-child(1) {
      margin-right: 24px;
    }

    .plan-card {
      padding: 36px 80px;

      background-color: white;
      opacity: 0.5;

      text-align: center;

      &:hover {
        opacity: 1;
        border: 2px solid $grey-700;
      }

      div {
        margin-bottom: 20px;

        font-size: 24px;
      }

      h2 {
        padding: 40px;
        margin-bottom: 28px;

        background-color: $grey-200;

        white-space: nowrap;
      }

      ul {
        text-align: left;
        font-size: 20px;
        line-height: normal;

        li {
          display: flex;
          align-items: center;
          img {
            margin-right: 16px;
          }
          margin-bottom: 16px;
        }
      }
    }
  }

  a {
    margin-bottom: 80px;
  }
}
